# Исключаем системные и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем файлы и папки IDE
.vscode/
.idea/

# Исключаем node_modules, если есть JS-часть
node_modules/

# Исключаем временные и кэшированные файлы
*.log
*.tmp
*.bak

# Исключаем системные папки Windows
Thumbs.db
.DS_Store

# Если не хочешь загружать фото на GitHub
photos/